body{
}
h1{
	text-align:center;
	padding:5px;
	margin-top:10px;
}
.nie{
	background-color:lightblue;
}
th{
	width:50px;
	height:40px;
}
td{
	width:60px;
	height:40px;
	text-align:center;
}
table{
	margin:auto;
}
.ini{
	background-color:yellow;
}
.bc{
	background-color:rgba(0,255,0, 0.2);
}
.jo{
	background-color:rgba(0,255,0, 0.5);
}
.pq{
	background-color:rgb(0,255,0);
}